{% extends 'booking_system/base.html' %}
{% block title %}Staff time manage{% endblock %}
{% block add-booking-active %}active{% endblock %}
{% block js %}
<script>
    $('#id_time').change(function(){
        var input_time = $(this).val();
      $.ajax({
        url: '/booking/ajax/get_slot/',
        data: {
          'time': input_time
        },
        dataType: 'json',
        success: function (data) {
        console.log(data);
        $('#id_slot').empty();
        for (i=0;i<data.free_slot.length;i++)
            {
                var option = '<option value="'+data.free_slot_id[i] +'">'+data.free_slot[i]+'</option>'
                $('#id_slot').append(option)
            }
        }
      });
    });
</script>
{% endblock %}
{% block body %}
<form action="" method="post">{% csrf_token %}
    {% include 'booking_system/form-template.html' %}
    <button type="submit">Submit</button>
</form>

{% endblock %}